<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Allhaha打折网</title>
	</head>
	<body style="margin: 0; padding: 0;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td style="padding-top:25px;">

					<!-- Header Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table align="left" border="0" cellpadding="0" cellspacing="0" width="200" style="border-collapse: collapse;">
												<!-- logo -->
												<tr>
													<td align="left">
														<a href="<%= url %>/">
															<img src="<%= url %>/images/logo_red.png" alt="Company Logo" style="display: block;"/>
														</a>
													</td>
												</tr>
												<!-- company slogan -->
												<tr>
													<td width="100%" align="left" style="font-size: 12px; line-height: 18px; font-family:helvetica, Arial, sans-serif; color:#999999;">	
														Allhaha打折网
													</td>
												</tr>									
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
											</table>
											<table align="right" border="0" cellpadding="0" cellspacing="0" width="350" style="border-collapse: collapse;">
												<tr>
													<td  height="75" style="text-align: right; vertical-align: middle;">
														<a href="<%= url %>/" style="font-family:helvetica, Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; text-decoration: none;">首页</a> &nbsp;&nbsp;
	                                                    <a href="<%= url %>/voucher" style="font-family:helvetica, Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; text-decoration: none;">折扣券</a> &nbsp;&nbsp;
	                                                    <a href="<%= url %>/article" style="font-family:helvetica, Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; text-decoration: none;">精彩文章</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Header End -->

					<!-- Banner Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#fafafa" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr>
													<td align="center" bgcolor="#ffffff" >
														<a href="#">
															<img src="<%= url %>/images/banner.jpg" width="580" alt="Section one image" style="display: block;"/>
														</a>
													</td>
												</tr>
											</table>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr>
													<td>
														<!-- Space -->
														<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
														</table>
														<table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
															<tr>
																<td>
																	<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
																		<tr>
																			<td width="100%" align="left" style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; font-weight: bold; color:#343434;">
																				<%= title %>
																			</td>
																		</tr>
																	</table>
																	<table align="left" border="0" cellpadding="0" cellspacing="0" width="75%" style="border-collapse: collapse;">
																		<!-- Space -->
																		<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
																		<tr>
																			<td width="100%" align="left" style="font-size: 15px; line-height: 22px; font-family:helvetica, Arial, sans-serif; color:#666666;">
																				<%= content %>
																			</td>
																		</tr>
																	</table>
																	<table align="right" border="0" cellpadding="0" cellspacing="0" width="22%" style="border-collapse: collapse;">
																		<!-- Space -->
																		<tr><td style="font-size: 0; line-height: 0;" height="25">&nbsp;</td></tr>
																		<tr>
																			<td width="100%" align="center" style="padding:10px 12px 10px 12px; text-align: center;" bgcolor="#e84c3d">
																				<a href="<%= url %>/" style="color: #fff; font-size: 14px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">回到主页</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<!-- Space -->
														<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>				
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Banner End -->

					<!-- Subfooter Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#000000" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<!-- Space -->
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" bgcolor="#333333" height="1">&nbsp;</td></tr>
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
												<tr>
													<td align="center" style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
														Copyright © 2015 Allhaha打折网 by <a href="mailto:contactus@allhaha.com" style="color: #cdcdcd; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;">Li Yuan & Fei Minhao</a>. All Rights Reserved
													</td>
												</tr>
											</table>
											<!-- Space -->
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>

					</table>
					<!-- Subfooter End -->
				</td>
			</tr>
		</table>
	</body>
</html>
