<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
					<li class="active">Merkliste</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- page-intro end -->
<!-- main-container end -->
<div class="container">
	<h2>Merkliste</h2>
	<br>
</div>
<!-- section start -->
<!-- ================ -->
<div class="gray-bg section">
	<div class="container">
		<div class="row grid-space-20">
			<% products.forEach(function(product) { %>
			<div class="col-md-4">
				<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
					<div class="overlay-container">
						<img src="<%= product.ProductImage %>" alt="">
						<div class="overlay">
							<div class="overlay-links">
								<a href="/product?product_id=<%= product._id %>"><i class="fa fa-search-plus"></i></a>
								<a href="/favourite/remove?ean=<%= product.EAN %>"><i class="fa fa-trash"></i></a>
							</div>
						</div>
					</div>
					<h3><a href="portfolio-item.html"><%= product.Title %></a></h3>
					<p><%= product.Price %> €</p>
					<a href="/product?product_id=<%= product._id %>" class="btn btn-default">Mehr</a>
				</div>
			</div>
			<% }) %>
		</div>
	</div>
</div>
<!-- section end -->
