<div class="banner">
    <div class="fixed-image section light-translucent-bg parallax-bg-3">
        <div class="container">
            <div class="space-top"></div>
            <h1>欢迎来到德国购物</h1>
            <div class="separator-2"></div>
            <p class="lead">在这里您可以选购到当下德国本地所有打折的商品!
                <br class="hidden-xs hidden-sm"> 您只需鼠标轻点, 便可以享受轻松实惠的海淘.
                <br class="hidden-xs hidden-sm"> 祝您接下来有一个愉快的购物享乐.</p>
        </div>
    </div>
</div>
<!-- banner end -->

<!-- page-intro start-->
<!-- ================ -->

<!-- page-intro end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-9">

                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title">浏览商品</h1>
                <div class="separator-2"></div>
                <p class="lead">这里显示的是当下德国乃至欧洲打折的商品.
                    <br class="hidden-sm hidden-xs"> 点选商品图片, 就可以看到更多详细内容!</p>
                <!-- page-title end -->

                <!-- shop items start -->
                <div id="container" class="row">
                    <% products.forEach(function(product, index) { %>
                        <div class="element col-lg-4 col-sm-6 masonry-grid-item">
                            <div class="listing-item">
                                <div class="overlay-container">
                                    <img src="<%= product.image %>" alt="">
                                    <a href="#" class="overlay small">
                                        <i class="fa fa-plus"></i>
                                        <span>查看详细介绍</span>
                                    </a>
                                </div>
                                <div class="listing-item-body clearfix">
                                    <h3 class="title"><a href="<%= product.link %>"><%= product.title %></a></h3>
                                    <p>
                                        <%= product.desc_cn %>
                                    </p>
                                    <span class="price"><%= product.price %></span>
                                    <div class="elements-list pull-right">
                                        <a href="#" class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></a>
                                        <a href="#"><i class="fa fa-shopping-cart pr-10"></i>添加至购物车</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <!-- shop items end -->

                <div class="clearfix"></div>

                <!-- pagination start -->
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
                <!-- pagination end -->

            </div>
            <!-- main end -->

            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h2>Best Sellers</h2>
                        <div class="separator"></div>#content di
                        <div class="list-with-image">
                            <div class="overlay-container">
                                <img src="/stylesheets/images/product-1.png" alt="product 1">
                                <a href="shop-product.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                            <h2><a href="shop-product.html">Consectetur 5.5" Vitae</a></h2>
                            <p class="small">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                        <div class="list-with-image">
                            <div class="overlay-container">
                                <img src="/stylesheets/images/product-2.png" alt="product 1">
                                <a href="shop-product.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                            <h2><a href="shop-product.html">Lorem 5.5" Dual Span 1GB</a></h2>
                            <p class="small">Lorem ipsum dolor sit amet, consectetur span.price </p>
                        </div>
                        <div class="list-with-image">
                            <div class="overlay-container">
                                <img src="/stylesheets/images/product-3.png" alt="product 1">
                                <a href="shop-product.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                            <h2><a href="shop-product.html">Dolor 15.4" 4GB Ram</a></h2>
                            <p class="small">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                        <div class="list-with-image">
                            <div class="overlay-container">
                                <img src="/stylesheets/images/product-4.png" alt="product 1">
                                <a href="shop-product.html" class="overlay small">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                            <h2><a href="shop-product.html">Amet 4.4 Smartphone</a></h2>
                            <p class="small">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                    <div class="block clearfix">
                        <h2>Search Filters</h2>
                        <div class="separator"></div>
                        <div class="sorting-filters">
                            <form>
                                <div class="form-group">
                                    <label>Sort by</label>
                                    <select class="form-control">
                                        <option selected="selected">Date</option>
                                        <option>Price</option>
                                        <option>Model</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Order</label>
                                    <select class="form-control">
                                        <option selected="selected">Acs</option>
                                        <option>Desc</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Price $ (min/max)</label>
                                    <div class="row grid-space-10">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control col-xs-6">
                                        </div>#content di
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control">
                                        <option selected="selected">Smartphones</option>
                                        <option>Tablets</option>
                                        <option>Smart Watches</option>
                                        <option>Desktops</option>
                                        <option>Software</option>
                                        <option>Accessories</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <a href="#" class="btn btn-default">Submit</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="block clearfix">
                        <h2>Brand</h2>
                        <div class="separator"></div>
                        <form role="form" class="form-list">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value=""> Apple <small>(16)</small>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value=""> Samsung <small>(78)</small>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value=""> LG <small>(47)</small>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value=""> Nokia <small>(12)</small>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value=""> Motorola <small>(8)</small>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value=""> HTC <small>(19)</small>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="block clearfix">
                        <h2>Screen Size</h2>
                        <div class="separator"></div>
                        <form role="form" class="form-list">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Small - 3.5" - 4.5" <small>(264)</small>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Medium - 4.6" - 5.3" <small>(125)</small>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Large - 5.4" and Up <small>(60)</small>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </aside>

        </div>
    </div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<div class="section gray-bg text-muted footer-top clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="owl-carousel clients">
                    <div class="client">
                        <a href="#"><img src="/stylesheets/images/client-1.png" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="/stylesheets/images/client-2.png" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="/stylesheets/images/client-3.png" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="/stylesheets/images/client-4.png" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="/stylesheets/images/client-5.png" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="/stylesheets/images/client-6.png" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="/stylesheets/images/client-7.png" alt=""></a>
                    </div>
                    <div class="client">
                        <a href="#"><img src="/stylesheets/images/client-8.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <blockquote class="inline">
                    <p class="margin-clear">Design is not just what it looks like and feels like. Design is how it works.</p>
                    <footer><cite title="Source Title">Steve Jobs </cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {

        var $container = $('#container');

        $container.isotope({
            itemSelector: '.element'
        });

        $container.infinitescroll({
                navSelector: '#page_nav', // selector for the paged navigation 
                nextSelector: '#page_nav a', // selector for the NEXT link (to page 2)
                itemSelector: '.element', // selector for all items you'll retrieve
                loading: {
                    finishedMsg: 'No more pages to load.',
                    img: 'http://i.imgur.com/qkKy8.gif'
                }
            },loadproducts);
            // call Isotope as a callback
        function loadproducts(newElements) {
            alert(1);
        }

    });

</script>
