<div class="page-intro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <ol class="breadcrumb">
                    <li><i class="fa fa-th-large pr-10"></i>Kategorie: </li>
                    <li class="active"><a href="/de/?category=clothing_shoes">Kleidung&Schuhe</a></li>
                    <li class="active"><a href="/de/?category=food">Lebensmittel</a></li>
                    <li class="active"><a href="/de/?category=kitchenware">Küche</a></li>
                    <li class="active"><a href="/de/?category=electronic_product">Elektro&Computer</a></li>
                    <li class="active"><a href="/de/?category=maternal">Spielzeug&Baby</a></li>
                    <li class="active"><a href="/de/?category=cosmetic">Kosmetik</a></li>
                    <li class="active"><a href="/de/?category=health">Gesundheit</a></li>
                    <li class="active"><a href="/de/?category=tourism">Sport&Freizeit</a></li>
                    <li class="active"><a href="/de/?category=home_appliances">Haushalt</a></li>
                    <li class="active"><a href="/de/?category=jewelry_watches">Schmuck&Uhren</a></li>
                    <li class="active"><a href="/de/?category=office">Bürobedarf</a></li>
                    <li class="active"><a href="/de/?category=other">Andere</a></li>
                </ol>
            </div>
            <div class="col-md-2">
                <form role="search" class="search-box" style="margin: 0 !important;">
                    <div class="has-feedback">
                        <input type="text" class="form-control" placeholder="Suchen" name="search" style="-webkit-appearance: textfield; border-radius: 25px">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class="main col-md-10">
                <% if (mainPage) { %>
                <% if (hotproducts.length != 0) { %>
                <h2 class="page-title">Top Angebote</h2>
                <div class="separator-2"></div>
                <div class="owl-carousel carousel-autoplay owl-theme col-xs-6">
                    <% hotproducts.forEach(function(product, index) { %>
                    <% if (index < 6) { %>
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="<%= product.Images %>" />
                            <a href="/de/product?product_id=<%= product.ProductId %>" class="overlay small">
                                <i class="fa fa-search-plus"></i>
                                <span><%= product.Description[0] %></span>
                            </a>
                        </div>
                        <div class="listing-item-body clearfix">
                            <h3 class="title" style="font-weight: 300"><a href="/de/product?product_id=<%= product.ProductId %>"><%= product.ProductName[0] %></a></h3>
                            <% if (product.Price.length == 1 || Math.min.apply(null, product.Price) == Math.max.apply(null, product.Price)) { %>
                            <span class="price" style="font-size: 20px"><%= product.Price[0].toString().replace(".", ",") %> €</span>
                            <% } else { %>
                            <span class="price" style="font-size: 20px"><%= Math.min.apply(null,product.Price).toString().replace(".", ",") %> - <%= Math.max.apply(null,product.Price).toString().replace(".", ",") %> €</span>
                            <% } %>
                            <div class="elements-list pull-right">
                                <a href="/de/product?product_id=<%= product.ProductId %>"><i class="fa fa-gift pr-10"></i>Öffnen</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% }); %>
                </div>
                <div class="clearfix"></div>
                <% } %>
                <% } %>
                <h2 class="page-title">Produkte</h2>
                <div class="separator-2"></div>
                <div id="container" class="row">
                    <% products.forEach(function(product, index) { %>
                    <div class="element col-lg-3 col-md-3 col-sm-6 col-xs-6 masonry-grid-item">
                        <div class="listing-item">
                            <div class="overlay-container">
                                <img src="<%= product.Images %>" onerror="this.src= '/images/no-image.jpg';" />
                                <a href="/de/product?product_id=<%= product.ProductId %>" class="overlay small">
                                    <i class="fa fa-search-plus"></i>
                                    <span><%= product.Description[0] %></span>
                                </a>
                            </div>
                            <div class="listing-item-body clearfix">
                                <h3 class="title" style="font-weight: 300"><a href="/de/product?product_id=<%= product.ProductId %>"><%= product.ProductName[0] %></a></h3>
                                <% if (product.Price.length == 1 || Math.min.apply(null, product.Price) == Math.max.apply(null, product.Price)) { %>
                                <span class="price" style="font-size: 20px"><%= product.Price[0].toString().replace(".", ",") %> €</span>
                                <% } else { %>
                                <span class="price" style="font-size: 20px"><%= Math.min.apply(null,product.Price).toString().replace(".", ",") %> - <%= Math.max.apply(null,product.Price).toString().replace(".", ",") %> €</span>
                                <% } %>
                                <div class="elements-list pull-right">
                                    <a href="/de/product?product_id=<%= product.ProductId %>"><i class="fa fa-gift pr-10"></i>Öffnen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <div class="clearfix"></div>
                <ul class="pagination"></ul>
            </div>
            <aside class="col-md-2">
                <div class="siderbar">
                    <div class="body clearfixed">
                        <h3>Filter</h3>
                        <div class="separator"></div>
                        <div class="sorting-filters">
                            <form role="form">
                                <div class="form-group">
                                    <label>Kategorie</label>
                                    <select class="form-control" name="category">
                                        <option value="all" <% if(category=='all') { %> selected='selected' <% } %>>Alle</option>
                                        <option value="clothing_shoes" <% if(category=='服装鞋子') { %> selected='selected' <% } %>>Kleidung&Schuhe</option>
                                        <option value="food" <% if(category=='食品饮食') { %> selected='selected' <% } %>>Lebensmittel</option>
                                        <option value="kitchenware" <% if(category=='厨房用具') { %> selected='selected' <% } %>>Küche</option>
                                        <option value="electronic_product" <% if(category=='电子产品') { %> selected='selected' <% } %>>Elektro&Computer</option>
                                        <option value="maternal" <% if(category=='母婴') { %> selected='selected' <% } %>>Spielzeug&Baby</option>
                                        <option value="cosmetic" <% if(category=='化妆品') { %> selected='selected' <% } %>>Kosmetik</option>
                                        <option value="health" <% if(category=='健康保健') { %> selected='selected' <% } %> >Gesundheit</option>
                                        <option value="tourism" <% if(category=='旅游') { %> selected='selected' <% } %> >Sport&Freizeit</option>
                                        <option value="home_appliances" <% if(category=='居家用品') { %> selected='selected' <% } %> >Haushalt</option>
                                        <option value="jewelry_watches" <% if(category=='钟表手饰') { %> selected='selected' <% } %> >Schmuck&Uhren</option>
                                        <option value="office" <% if(category=='打折券') { %> selected='selected' <% } %> >Bürobedarf</option>
                                        <option value="other" <% if(category=='其他') { %> selected='selected' <% } %> >Andere</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Preis (€)</label>
                                    <div class="row grid-space-10">
                                        <div class="col-sm-6">
                                            <input type="text" name="minprice" class="form-control" placeholder='Min' value="<%= minprice %>">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="maxprice" class="form-control col-xs-6" placeholder='Max' value="<%= maxprice %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Soriteren nach</label>
                                    <select class="form-control" name="sort">
                                        <option value="date" <% if(sort=='date') { %> selected='selected' <% } %>>Datum</option>
                                        <option value="price_asc" <% if(sort=='price_asc') { %> selected='selected' <% } %>>Preis tief nach hoch</option>
                                        <option value="price_desc" <% if(sort=='price_desc') { %> selected='selected' <% } %>>Preis hoch nach tief</option>
                                        <option value="rank" <% if(sort=='rank') { %> selected='selected' <% } %>>Bewertung</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Marke</label>
                                    <select class="form-control" name="brand">
                                        <option value="all" <% if(brand=='all') { %> selected='selected' <% } %>>All</option>
                                        <% brands.forEach(function(_brand, index) { %>
                                            <% if (_brand._id != "" && _brand._id != "unbekannt" && _brand._id != null) { %>
                                                <option value="<%= _brand._id %>" <% if(brand==_brand._id) { %> selected='selected' <% } %>><%= _brand._id %> (<%= _brand.Sum %>)</option>
                                            <% } %>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Ja</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- main-container end -->
<!-- section start -->
<!-- ================ -->
<script type="text/javascript">
$(document).ready(function() {
    var $container = $('#container');
    $container.imagesLoaded(function() {
        $container.isotope({
            masonry: {
                columnWidth: ('.masonry-grid-item')
            }
        });
    });

    $('.pagination').pagination({
        pages: <%= pages %> ,
        currentPage: <%= currentPage %>,
        hrefTextPrefix: getURL(),
        prevText: "Vorherige Seite",
        nextText: "Nächste Seite "
    });
});

</script>
