<!-- Modal -->
<div class="modal fade" id="shopContentModal" tabindex="-1" role="dialog" aria-labelledby="shopContentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="shopContentModalLabel">店铺说明</h4>
            </div>
            <div class="modal-body" id="shop_custom_content"></div>
        </div>
    </div>
</div>

<div class="container-fluid">
	<h2>合作品牌</h2>
	<div class="space-bottom"></div>
	<div class="row">
	<% shops.forEach(function(shop, index) { %>
	    <div class="col-md-2 col-xs-6">
	        <div class="image-box mb-20 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
	            <div class="overlay-container">
	            	<% if (shop.Logo == "") { %>
	            	<img src="<%= shop.LogoURL%>" alt="">
	            	<% } else { %>
	            	<img src="<%- shop.Logo %>" alt="">
	            	<% } %>
	                <div class="overlay">
	                    <div class="overlay-links">
	                        <a href="/go/<%= shop.ShortURL %>"><i class="fa fa-link"></i></a>
	                        <a href="#" target="_blank" data-toggle="modal" data-target="#shopContentModal" id="shop_content" content="/nav/customContent?id=<%= shop._id %>" target="_blank"><i class="fa fa-search-plus"></i></a>
	                    </div>
	                </div>
	                <div class="image-box-body">
						<p class="title" style="text-align: center"><%= shop.CustomTitleCN %></p>
					</div>
	            </div>
	        </div>
	    </div>
	<% }) %>
	</div>
</div>

<script>
    $(document).ready(function() {
        $("img.lazy").lazyload();

        $('body').on( 'click', '#shop_content', function () {
            sendAjax($(this).attr('content'), {}, function(result) {
                $('#shop_custom_content').html(result.content);
            }, function(error) {
                Notify('warning', '服务器错误，请稍后再试!');
            }); 
        });
    });
</script>