<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="/">主页</a></li>
                    <li class="active">产品介绍</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-intro end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title margin-top-clear"><%= product.ProductName_cn %></h1>
                <!-- page-title end -->

                <div class="row">
                    <div class="col-md-4">
                        <!-- Nav tabs -->
                        <!-- Tab panes start-->
                        <div class="tab-content clear-style">
                            <div class="tab-pane active" id="product-images">
                                <div class="owl-carousel content-slider-with-controls-bottom">
                                    <% for (var i=0; i<product.Images.length; i++){ %>
                                        <div class="overlay-container outside">
                                            <img src="<%= product.Images[0][0].URL %>" alt="">
                                            <a href="<%= product.Images[0][0].URL %>" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>
                                        </div>

                                        <% } %>

                                </div>
                            </div>
                        </div>
                        <!-- Tab panes end-->
                        <hr>
                        <span class="price"><%= product.PriceInformation.DisplayPrice %></span>
                        <div class="elements-list pull-right clearfix">
                            <a href="<%= product.Deeplink1 %>"><span>去买</span></a>
                            <span><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star"></i></span>
                        </div>
                        <div class="clearfix">
                            <table class="table table-striped">
                                <tr>
                                    <td>价格</td>
                                    <td>商家</td>
                                    <td>点击购买</td>
                                </tr>
                                <% products.forEach(function(product, index) { %>
                                    <tr>
                                        <td>
                                            <%= product.PriceInformation.PriceDetails.Price %>
                                        </td>
                                        <td>
                                            <%= product.ShopTitle %>
                                        </td>
                                        <td><a href="<%= product.Deeplink1 %>">入店购买</a></td>
                                    </tr>
                                    <% }) %>
                            </table>
                        </div>
                        <hr>
                        <div class="row">
                            <form role="form">

                            </form>
                        </div>
                    </div>

                    <!-- product side start -->
                    <aside class="col-md-8">
                        <div class="sidebar">
                            <div class="side product-item vertical-divider-left">
                                <div class="tabs-style-2">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="active"><a href="#h2tab1" role="tab" data-toggle="tab"><i class="fa fa-file-text-o pr-5"></i>产品介绍</a></li>
                                        <li><a href="#h2tab2" role="tab" data-toggle="tab"><i class="fa fa-files-o pr-5"></i>产品规格</a></li>
                                        <li><a href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-5"></i>用户反馈</a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content padding-top-clear padding-bottom-clear">
                                        <div class="tab-pane fade in active" id="h2tab1">
                                            <h4 class="title"><%= product.ProductName_cn %></h4>
                                            <p>
                                                <%= product.Description_cn %>
                                            </p>
                                        </div>
                                        <div class="tab-pane fade" id="h2tab2">
                                            <h4 class="space-top">规格参数</h4>
                                            <hr>
                                            <dl class="dl-horizontal">
                                                <dt></dt>
                                                <dd>此处填入各项参数</dd>
                                            </dl>
                                            <hr>
                                        </div>
                                        <div class="tab-pane fade" id="h2tab3">
                                            <!-- UY BEGIN -->
                                            <div id="uyan_frame"></div>
                                            <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2054563"></script>
                                            <!-- UY END -->

                                        </div>

                                        <div class="tab-pane fade" id="h2tab4">
                                            <!-- comments start -->
                                            <div class="comments margin-clear space-top">
                                                <!-- comment start -->
                                                <div class="comment clearfix">
                                                    <div class="comment-avatar">
                                                        <img src="images/avatar.png" alt="avatar">
                                                    </div>
                                                    <div class="comment-content">
                                                        <h3>太棒拉!</h3>
                                                        <div class="comment-meta"> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star"></i> | Today, 12:31</div>
                                                        <div class="comment-body clearfix">
                                                            <a href="blog-post.html" class="btn btn-gray more pull-right"><i class="fa fa-reply"></i> Reply</a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- comment end -->

                                                <!-- comment start -->
                                                <div class="comment clearfix">
                                                    <div class="comment-avatar">
                                                        <img src="images/avatar.png" alt="avatar">
                                                    </div>
                                                    <div class="comment-content clearfix">
                                                        <h3>好厉害!</h3>
                                                        <div class="comment-meta"> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> | Oct 15</div>
                                                        <div class="comment-body">
                                                            <a href="blog-post.html" class="btn btn-gray more pull-right"><i class="fa fa-reply"></i> Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- comment end -->

                                                <!-- comment start -->
                                                <div class="comment clearfix">
                                                    <div class="comment-avatar">
                                                        <img src="images/avatar.png" alt="avatar">
                                                    </div>
                                                    <div class="comment-content clearfix">
                                                        <h3>值得购买</h3>
                                                        <div class="comment-meta"> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> | Sep 25</div>
                                                        <div class="comment-body">
                                                            <a href="blog-post.html" class="btn btn-gray more pull-right"><i class="fa fa-reply"></i> Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- comment end -->

                                            </div>
                                            <!-- comments end -->

                                            <!-- comments form start -->
                                            <div class="comments-form">
                                                <h2 class="title">添加您的反馈</h2>
                                                <form role="form" id="comment-form">
                                                    <div class="form-group has-feedback">
                                                        <label for="name4">昵称</label>
                                                        <input type="text" class="form-control" id="name4" placeholder="" name="name4" required>
                                                        <i class="fa fa-user form-control-feedback"></i>
                                                    </div>
                                                    <div class="form-group has-feedback">
                                                        <label for="subject4">标题</label>
                                                        <input type="text" class="form-control" id="subject4" placeholder="" name="subject4" required>
                                                        <i class="fa fa-pencil form-control-feedback"></i>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>评分</label>
                                                        <select class="form-control" id="review">
                                                            <option value="five">5</option>
                                                            <option value="four">4</option>
                                                            <option value="three">3</option>
                                                            <option value="two">2</option>
                                                            <option value="one">1</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group has-feedback">
                                                        <label for="message4">信息</label>
                                                        <textarea class="form-control" rows="8" id="message4" placeholder="" name="message4" required></textarea>
                                                        <i class="fa fa-envelope-o form-control-feedback"></i>
                                                    </div>
                                                    <input type="submit" value="Submit" class="btn btn-default">
                                                </form>
                                            </div>
                                            <!-- comments form end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!-- product side end -->
                </div>

            </div>
            <!-- main end -->

        </div>
    </div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->

<!-- section end -->

<!-- section start -->
<!-- ================ -->

<!-- section end -->

<!-- section start -->
<!-- ================ -->

<!-- section end -->
