<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ol class="breadcrumb">
                    <li><i class="fa fa-th-large pr-10"></i>Kategorie: </li>
                    <li class="active"><a href="/DE/category?category=clothes_shoes&page=<%= currentPage %>">Kleidung&Schuhe</a></li>
                    <li class="active"><a href="/DE/category?category=food&page=<%= currentPage %>">Essen</a></li>
                    <li class="active"><a href="/DE/category?category=kitchen&page=<%= currentPage %>">Küche</a></li>
                    <li class="active"><a href="/DE/category?category=electronics&page=<%= currentPage %>">Elektro&Computer</a></li>
                    <li class="active"><a href="/DE/category?category=handy_pad&page=<%= currentPage %>">Handy&Pad</a></li>
                    <li class="active"><a href="/DE/category?category=makeup&page=<%= currentPage %>">Kosmetik</a></li>
                    <li class="active"><a href="/DE/category?category=medicine&page=<%= currentPage %>">Medikamente</a></li>
                    <li class="active"><a href="/DE/category?category=travel&page=<%= currentPage %>">Reisen&Urlaub</a></li>
                    <li class="active"><a href="/DE/category?category=others&page=<%= currentPage %>">Andere</a></li>
                </ol>
            </div>
            <div class="col-md-2">
                <form role="search" class="search-box" action="/DE/search" method="post" style="margin: 0 !important;">
                    <div class="has-feedback">
                        <input type="text" class="form-control" placeholder="Suchen" name="search" style="-webkit-appearance: textfield; border-radius: 25px">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
    <div class="container-fluid">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-10">
                <!-- page-title start -->
                <!-- ================ -->
                <h2 class="page-title">Stark reduziert</h2>
                <div class="separator-2"></div>
                <div id="container" class="row">
                    <% products.forEach(function(product, index) { %>
                    <div class="element col-lg-3 col-md-3 col-sm-6 col-xs-6 masonry-grid-item">
                        <div class="listing-item">
                            <div class="overlay-container">
                                <img src="<%= product.Images %>" onerror="this.src= '/stylesheets/images/no-image.jpg';" />
                                <a href="/DE/product?product_id=<%= product.ProductId %>" class="overlay small">
                                    <i class="fa fa-search-plus"></i>
                                    <span><%= product.Description %></span>
                                </a>
                            </div>
                            <div class="listing-item-body clearfix">
                                <h3 class="title" style="font-weight: 300"><a href="/DE/product?product_id=<%= product.ProductId %>"><%= product.ProductName %></a></h3>
                                <% if (product.Price.length == 1 || Math.min.apply(null, product.Price) == Math.max.apply(null, product.Price)) { %>
                                <span class="price" style="font-size: 20px"><%= product.Price[0].toString().replace(".", ",") %> €</span>
                                <% } else { %>
                                <span class="price" style="font-size: 20px"><%= Math.min.apply(null,product.Price).toString().replace(".", ",") %> - <%= Math.max.apply(null,product.Price).toString().replace(".", ",") %> €</span>
                                <% } %>
                                <div class="elements-list pull-right">
                                    <a href="/DE/product?product_id=<%= product.ProductId %>"><i class="fa fa-gift pr-10"></i>Mehr</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <!-- shop items end -->
                <div class="clearfix"></div>
                <!-- pagination start -->
                <ul class="pagination"></ul>
                <!-- pagination end -->
            </div>
            <!-- main end -->
            <aside class="col-md-2">
                <div class="siderbar">
                    <div class="body clearfixed">
                        <h3>Filter</h3>
                        <div class="sorting-filters">
                            <form role="form" action="/DE/filter" method="post">
                                <div class="form-group">
                                    <label>Kategorie</label>
                                    <select class="form-control" name="category">
                                        <option <% if(category=='Alle') { %> selected='selected' <% } %>>Alle</option>
                                        <option <% if(category=='Kleidung&Schuhe') { %> selected='selected' <% } %>>Kleidung&Schuhe</option>
                                        <option <% if(category=='Essen') { %> selected='selected' <% } %>>Essen</option>
                                        <option <% if(category=='Küche') { %> selected='selected' <% } %>>Küche</option>
                                        <option <% if(category=='Elektro&Computer') { %> selected='selected' <% } %>>Elektro&Computer</option>
                                        <option <% if(category=='Handy&Pad') { %> selected='selected' <% } %>>Handy&Pad</option>
                                        <option <% if(category=='Kosmetik') { %> selected='selected' <% } %>>Kosmetik</option>
                                        <option <% if(category=='Medikamente') { %> selected='selected' <% } %> >Medikamente</option>
                                        <option <% if(category=='Reisen&Urlaub') { %> selected='selected' <% } %> >Reisen&Urlaub</option>
                                        <option <% if(category=='Coupon') { %> selected='selected' <% } %> >Coupon</option>
                                        <option <% if(category=='Andere') { %> selected='selected' <% } %> >Andere</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Preis</label>
                                    <div class="row grid-space-10">
                                        <div class="col-sm-6">
                                            <input type="text" name="minprice" class="form-control" placeholder='min'>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="maxprice" class="form-control col-xs-6" placeholder='max'>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>排序</label>
                                    <select class="form-control" name="sort">
                                        <option <% if(sort=='Datum') { %> selected='selected' <% } %>>Datum</option>
                                        <option <% if(sort=='Preis tief nach hoch') { %> selected='selected' <% } %>>Preis tief nach hoch</option>
                                        <option <% if(sort=='Preis hoch nach tief') { %> selected='selected' <% } %>>Preis hoch nach tief</option>
                                        <option <% if(sort=='Bewertung') { %> selected='selected' <% } %>>Bewertung</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Ja</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>


<script type="text/javascript">
function test(pageNumber) {
    var page = "#page-" + pageNumber;
    $('.selection').hide()
    $(page).show()
}
$(document).ready(function() {
    var $container = $('#container');
    $container.imagesLoaded(function() {
        $container.isotope({
            masonry: {
                columnWidth: ('.masonry-grid-item')
            }
        });
    });
    $('.siderbar').sticky({
        topSpacing: 20
    });
    $('.pagination').pagination({
        items: <%= count %> ,
        itemsOnPage: 30,
        cssStyle: 'light-theme',
        currentPage: <%= currentPage %>
    });
});
</script>
