<div class="page-header">
    <h1>Product Manage <small>Total Products: <%= counter %></small></h1>
    <% if(type == 'remote') { %>
        <a id="sync_button" class="btn btn-primary btn-sm" href="#">Synchronize</a>
        <% } else { %>
            <a id="update_button" class="btn btn-success btn-sm" href="#">Update</a>
            <% } %>
                <a id="remove_all" href="/controller/product/remove_all/" class="btn btn-danger btn-sm pull-right">Remove all</a>
</div>

<table id="product_table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Image</th>
            <th>ID</th>
            <th>Num.</th>
            <th>EAN</th>
            <th>Brand</th>
            <th>Title</th>
            <th>Shop</th>
            <th>Price</th>
            <th>Link</th>
            <th>Category</th>
            <% if(type != 'remote') { %>
                <th>Translated</th>
                <% } %>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Image</th>
            <th>ID</th>
            <th>Num.</th>
            <th>EAN</th>
            <th>Brand</th>
            <th>Title</th>
            <th>Shop</th>
            <th>Price</th>
            <th>Link</th>
            <th>Category</th>
            <% if(type != 'remote') { %>
                <th>Translated</th>
                <% } %>
        </tr>
    </tfoot>

    <tbody>
        <% products.forEach(function(product, index) { %>
            <tr>
                <td>
                    <% if (type == 'remote') { %>
                        <img src="<%= product.Images[0][1].URL %>">
                        <% } else { %>
                            <a href="/controller/product/edit?product_id=<%= product.ProductId %>"><img src="<%= product.Images[0][1].URL %>"></a>
                            <% } %>
                </td>
                <td>
                    <%= product.ProductId %>
                </td>
                <td>
                    <%= product.ArticleNumber %>
                </td>
                <td>
                    <%= product.EAN %>
                </td>
                <td>
                    <%= product.Brand %>
                </td>
                <td>
                    <%= product.ProductName %>
                </td>
                <td>
                    <%= product.ShopTitle %>
                </td>
                <td>
                    <%= product.PriceInformation.DisplayPrice %>
                </td>
                <td>
                    <a href="<%= product.Deeplink1 %>">Link</a>
                </td>
                <td>
                    <%= product.AffilinetCategoryId %> |
                        <%= product.ShopCategoryId %>
                </td>
                <% if(type != 'remote') { %>
                    <td>
                        <% if (product.Tranlated) { %>
                            <span class="label label-primary">Translated</span>
                            <% } else { %>
                                <span class="label label-warning">Not Translated</span>
                                <% } %>
                    </td>
                    <% } %>
            </tr>
            <% }) %>
    </tbody>
</table>

<div class="modal fade" id="processing_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Synchronizing</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div id="progress_bar" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 0%">
                        0%
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="done_button" type="button" class="btn btn-default" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        var socket = io.connect('http://localhost:3000/product');

        var dt = $('#product_table').DataTable({
            stateSave: true,
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            order: [
                [1, "asc"]
            ]
        });

        $("#remove_all").click(function(event) {
            if (!confirm('Remove All products?！')) {
                event.preventDefault();
            }
        });

        $('#sync_button').click(function(event) {
            $('#done_button').hide();
            $('#myModalLabel').text('Synchronizing');
            $('#processing_modal').modal({
                backdrop: 'static',
                keyboard: false
            });
            socket.emit('sync', {
                shopid: "<%= shopid %>",
                categoryid: "<%= categoryid %>",
                type: "<%= type %>"
            });
            socket.on('sync_process', function(data) {
                setProgressBar(data.currentpage / data.totalpage);
            });
            socket.on('sync_finished', function(data) {
                $("#progress_bar").html("Synchronizing finished! More than " + data.count + " Products added in Database.");
                $('#done_button').fadeIn();
            });
        });

        $('#update_button').click(function(event) {
            $('#done_button').hide();
            $('#myModalLabel').text('Updating');
            $('#processing_modal').modal({
                backdrop: 'static',
                keyboard: false
            });
            socket.emit('update', {});
            socket.on('update_process', function(data) {
                setProgressBar(data.segment_count / data.segment_length);
            });
            socket.on('update_finished', function(data) {
                $("#progress_bar").html("Updating finished! " + data.count + " Products updated in Database.");
                $('#done_button').fadeIn();
            });
        });

        function setProgressBar(value) {
            var _value = (value * 100).toFixed(2) + "%";
            $("#progress_bar").width(_value);
            $("#progress_bar").html(_value);
        }
    });

</script>
