<div class="page-header">
	<h1>Programs Manage <small><a id="remove_all" href="/controller/programs/remove_all/" class="btn btn-danger btn-sm pull-right">Remove all</a><a class="btn btn-primary" href="/controller/programs/update/" style="margin-left: 20px">Upate Programs</a></small></h1>
</div>
<div class="row">
	<% programs.forEach(function(program, index) { %>
	<div id="program_block" <% if (program.PartnershipStatus != 'Active') { %> style="opacity:0.5;" <% } %> class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img data-original="<%= program.ScreenshotURL %>" class="img-responsive">
			<img data-original="<%= program.LogoURL %>" class="img-responsive">
			<a href="<%= program.ProgramURL %>">Link</a>
			<div class="caption">
				<h3 style="text-align: center"><small style="margin-right: 10px;"><%= program.ProgramId %></small><%= program.ProgramTitle %></h3>
				<%- program.LimitationsComment %>
				<p style="text-align: center"><a href="/controller/programs/edit?program_id=<%= program.ProgramId %>" class="btn btn-primary" role="button">edit</a></p>
				<span class="label label-primary pull-left">Translated</span><% if (program.PartnershipStatus == 'Active') { %><span class="label label-success pull-right">Active</span><% } %>
			</div>
		</div>
	</div>
	<% }) %>
</div>
<script>
	$(document).ready(function(){
		$('.img-responsive').lazyload({});
		$( "#remove_all" ).click(function( event ) {
			if (!confirm('Remove All Programs?！')) {
				event.preventDefault();
			}
		});
	});

</script>