<div class="page-header">
    <h1><%= title %></h1>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post" id="voucher_form">
            <div class="form-group">
                <label for="Id">Id</label>
                <input type="text" class="form-control" id="Id" name="Id" value="<%= voucher.Id || Math.round(Math.random()*100000000) %>" placeholder="Id" readonly>
            </div>
            <div class="form-group">
                <label for="ProgramId">ProgramId</label>
                <input type="text" class="form-control" id="ProgramId" name="ProgramId" value="<%= voucher.ProgramId || '-1' %>" placeholder="ProgramId">
            </div>
            <div class="form-group">
                <label for="Code">Code</label>
                <input type="text" class="form-control" id="Code" name="Code" value="<%= voucher.Code || '' %>" placeholder="Code">
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea rows="5" class="form-control" id="Description" name="Description" placeholder="Description"><%= voucher.Description || '' %></textarea>
            </div>
            <div class="form-group">
                <label for="DescriptionCN">中文详细</label>
                <textarea rows="5" class="form-control" id="DescriptionCN" name="DescriptionCN" placeholder="中文详细"><%= voucher.DescriptionCN || '' %></textarea>
            </div>
            <div class="form-group">
                <label for="ActivePartnership">ActivePartnership</label>
                <input type="text" class="form-control" id="ActivePartnership" name="ActivePartnership" value="<%= voucher.ActivePartnership || '' %>" placeholder="ActivePartnership">
            </div>
            <div class="form-group">
                <label for="IsRestricted">IsRestricted</label>
                <input type="text" class="form-control" id="IsRestricted" name="IsRestricted" value="<%= voucher.IsRestricted || '' %>" placeholder="IsRestricted">
            </div>
            <div class="form-group">
                <label for="StartDate">StartDate</label>
                <input type="text" class="form-control" id="StartDate" name="StartDate" value="<%= voucher.StartDate || new Date() %>" placeholder="StartDate">
            </div>
            <div class="form-group">
                <label for="EndDate">EndDate</label>
                <input type="text" class="form-control" id="EndDate" name="EndDate" value="<%= voucher.EndDate || new Date() %>" placeholder="EndDate">
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="file" id="image" onchange="previewFile('#image', '#image_preview')"/>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <a href="#" class="thumbnail" id="image_preview" hidden></a>
                    </div>
                </div>
            </div>
            <% if (voucher.IntegrationCode !== "" && voucher.IntegrationCode !== undefined) { %>
            <div class="form-group">
                <label for="IntegrationCode">IntegrationCode</label>
                <div id="IntegrationCode" style="min-height: 100px; border: 1px solid #D8D8D8;"><%- voucher.IntegrationCode %></div>
                <input type="hidden" class="form-control" id="IntegrationCode" name="IntegrationCode" value="<%= voucher.IntegrationCode || '' %>" placeholder="IntegrationCode">
            </div>
            <% } %>
            <div class="form-group">
                <label for="IntegrationCodeCN">IntegrationCodeCN</label>
                <div id="full-toolbar" class="toolbar">
                    <span class="ql-format-group">
                        <select title="Font" class="ql-font">
                            <option value="sans-serif" selected="">Sans Serif</option>
                            <option value="serif">Serif</option>
                            <option value="monospace">Monospace</option>
                        </select>
                        <select title="Size" class="ql-size">
                            <option value="10px">Small</option>
                            <option value="13px" selected="">Normal</option>
                            <option value="18px">Large</option>
                            <option value="32px">Huge</option>
                        </select>
                    </span>
                    <span class="ql-format-group">
                        <span title="Bold" class="ql-format-button ql-bold"></span>
                        <span class="ql-format-separator"></span>
                        <span title="Italic" class="ql-format-button ql-italic"></span>
                        <span class="ql-format-separator"></span>
                        <span title="Underline" class="ql-format-button ql-underline"></span>
                        <span class="ql-format-separator"></span>
                        <span title="Strikethrough" class="ql-format-button ql-strike"></span>
                    </span>
                    <span class="ql-format-group">
                        <select title="Text Color" class="ql-color">
                            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)" selected=""></option>
                            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
                            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
                            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
                            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
                            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
                            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
                            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
                            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
                            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
                            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
                            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
                            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
                            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
                            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
                            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
                            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
                            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
                            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
                            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
                            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
                            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
                            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
                            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
                            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
                            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
                            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
                            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
                            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
                            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
                            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
                            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
                            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
                            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
                            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
                        </select>
                        <span class="ql-format-separator"></span>
                        <select title="Background Color" class="ql-background">
                            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
                            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
                            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
                            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
                            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
                            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
                            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
                            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)" selected=""></option>
                            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
                            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
                            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
                            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
                            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
                            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
                            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
                            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
                            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
                            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
                            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
                            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
                            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
                            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
                            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
                            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
                            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
                            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
                            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
                            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
                            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
                            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
                            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
                            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
                            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
                            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
                            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
                        </select>
                    </span>
                    <span class="ql-format-group">
                        <span title="List" class="ql-format-button ql-list"></span>
                        <span class="ql-format-separator"></span>
                        <span title="Bullet" class="ql-format-button ql-bullet"></span>
                        <span class="ql-format-separator"></span>
                        <select title="Text Alignment" class="ql-align">
                            <option value="left" label="Left" selected=""></option>
                            <option value="center" label="Center"></option>
                            <option value="right" label="Right"></option>
                            <option value="justify" label="Justify"></option>
                        </select>
                    </span>
                    <span class="ql-format-group">
                        <span title="Link" class="ql-format-button ql-link"></span>
                        <span class="ql-format-separator"></span>
                        <span title="Image" class="ql-format-button ql-image"></span>
                    </span>
                </div>
                <div id="full-editor" class="editor" style="min-height: 250px; border: 1px solid #D8D8D8;"><%- voucher.IntegrationCodeCN %></div>
            </div>
            <hr/>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> <%= title %></button>
        </form>
        <% if (voucher.Image !== "" && voucher.Image !== undefined) { %>
        <hr/>
        <label>Image</label>
        <div class="row">
            <div class="col-xs-4 col-md-2">
                <a href="#" class="thumbnail">
                    <img src=<%- voucher.Image %> alt="prduct image set">
                </a>
            </div>
        </div>
        <% } %>
    </div>
</div>
<script>
    var _image = "";

    $(document).ready(function() {
        $("#voucher_page").addClass("active");

        $('#voucher_form').submit(function(event) {
            var data = {
                IntegrationCodeCN: fullEditor.getHTML(),
                Image: JSON.stringify(_image)
            };
            post(data, "voucher_form");
        });

        // Initialize editor with custom theme and modules
        var fullEditor = new Quill('#full-editor', {
            modules: {
                'toolbar': {
                    container: '#full-toolbar'
                },
                'image-tooltip': true,
                'link-tooltip': true
            },
            theme: 'snow'
        });
    });
</script>
